
<div class="modal-header">
    <h3 class="modal-title">New Report</h3>
</div>
<div class="modal-body">

    <form class="form-horizontal" name="jobForm">
        <div class="form-group" ng-class="{ 'has-error' : jobForm.jobName.$invalid && !jobForm.jobName.$pristine }">
            <label for="jobName" class="col-sm-2 control-label">NAME</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="jobName" name="jobName" placeholder="" ng-model="job.batchJobModel.jobName" required>
                <p ng-show="jobForm.jobName.$invalid && !jobForm.jobName.$pristine" class="help-block">VALIDATE_IS_REQUIRED</p>
            </div>
        </div>
        <div class="form-group">
            <label for="agency" class="col-sm-2 control-label">AGENCY</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="agency" placeholder="Agency" disabled="disabled" ng-model="job.batchJobModel.serviceProviderCode">
                <input type="text" class="hidden" ng-model="job.batchJobModel.auditModel.auditID">
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : jobForm.email.$invalid && !jobForm.email.$pristine }">
            <label for="inputEmail" class="col-sm-2 control-label">EMAIL</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="" ng-model="job.configModel.email">
                <p ng-show="jobForm.email.$invalid && !jobForm.email.$pristine" class="help-block">VALIDATE_EMAIL</p>
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">DESCRIPTION</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" placeholder="" ng-model="job.batchJobModel.description">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="createJob(job)" ng-disabled="jobForm.$invalid">SUBMIT</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">CANCEL</button>
</div>